background-color: brown;

}
.CONTAINER{
    color: yellow;
    text-align: center;
}
.ANDFLEXBOX{
    color: white;
    text-align: center;
}
.container{
    background: rgb(248, 253, 13);
    margin: 32px auto;
    padding: 20px 50px;
    width: 80%;
}

.Img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    row-gap: 100px;
    margin: 10px 0px 0px 150px;
}

.card{
    width: 20%;
    background-color: black;
    flex-direction: column;
    display: flex;
    text-align: center;
    color: white;
}

.card img{
    width: 100%;
}